.list-page {

}

.list {
    padding-top: 34px;
    margin-bottom: 129px;
    @media (max-width: $md3+px) {
        margin-bottom: 60px;
    }

    & .container {
        max-width: 1348px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        & .select-wrap {
            margin-left: auto;
        }
    }

}

.list-tabel-scroll {
    overflow: auto;
}

.list-tabel {
    width: 100%;
    border-collapse: collapse;
    & th {
        color: $mainColor;
        font-family: $secondFontFamily;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        height: 90px;
        &:last-child {
            text-align: right;
            padding-right: 100px;
        }
    }

    & td {
        height: 79px;
        padding-bottom: 11px;
    }

    & tr td {
        font-family: $mainFontFamily;
        font-size: 25px;
        line-height: normal;
        padding-top: 15px;
        padding-bottom: 15px;
        &:first-child {
            padding-left: 52px;
            padding-right: 20px;

            @media (max-width: $md2+px) {
                padding-left: 15px;
                min-width: 360px;
            }
        }

        &:nth-child(2) {
            width: 170px;
            padding-right: 15px;
            @media (max-width: $md2+px) {
                width: 110px;
                min-width: 110px;
            }
        }

        &:last-child {
            min-width: 227px;
            width: 227px;
            text-align: right;
        }
    }

    & tr:nth-child(2n) {
        & td:first-child, & td:nth-child(2) {
            background-color: #f3f3f3;
        }
    }
}


.btn-link {
    color: #ffffff;
    font-family: $secondFontFamily;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    display: inline-flex;
    border-radius: 3px;
    background-color: #be9843;
    justify-content: center;
    align-items: center;
    min-height: 2.35em;
    min-width: 8.1em;
    padding: 0.45em 0.9em;
    transition: all .2s ease;

    @media (min-width: 992px) {
        &:hover {
            background-color: #c2b290;
        }
    }
}
