.header {
    position: relative;
    z-index: 50;
    background-color: #fff;
    &__body {
        max-width: 1425px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        min-height: 100px;
        padding: 0 15px;

        @media (max-width: $md3+px) {
            min-height: 80px;
        }
    }

    &__logo {
        margin-right: 10px;
        margin-left: -19px;

        @media (max-width: $md2+px) {
            margin-right: auto;
        }

        @media (max-width: $md3+px) {
            &.logo {
                max-width: 220px;
            }
        }
    }

    &__menu {
        margin: 0 auto;
    }
    &__button {
        margin-left: 30px;

        @media (max-width: $md2+px) {
            margin-left: 15px;
        }
    }

    &__burger {
        margin-left: 30px;
        @media (min-width: 992px) {
            display: none;
        }

        @media (max-width: $md4+px) {
            margin-left: 10px;
        }
    }
}


.menu {
    @media (max-width: $md2+px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 15px 30px;
        box-shadow: 0px 14px 10px rgba($mainColor, 0.1);
        display: none;
        background-color: #fff;
    }

    @media (min-width: 992px) {
        display: block !important;
    }

    &__list {
        display: flex;

        @media (max-width: $md2+px) {
            display: block;
        }

        & > li {
            position: relative;
            &:not(:last-child) {
                margin-right: 15px;

                @media (max-width: 1267px) {
                    margin-right: 5px;
                }

                
                @media (max-width: $md2+px) {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        font-size: 19px;
        font-weight: 400;
        line-height: 1em;
        flex-wrap: nowrap;
        display: inline-block;
        padding: 6px 10px;
        transition: all .2s ease;
        color: #000;
        white-space: nowrap;

        
        @media (max-width: $md2+px) {
            font-size: 24px;
            line-height: 1.4em;
        }



        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($mainColor, 0.1);    
            }
        }
    }
}



.drop-down {
    position: relative;
    padding-right: 20px;

    &._open {
        &:before {
            transform: translateY(-50%) scale(1, -1);
        }
    }

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        width: 11px;
        height: 8px;
        background: url('../img/icons/down-chevron.svg') center no-repeat;
        background-size: contain;
        transition: all .2s ease;
    }
}


.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    border: 1px solid $mainColor;
    border-radius: 4px;
    display: none;

    @media (max-width: $md2+px) {
        position: static;
        border: none;
    }

    &__link {
        font-size: 16px;
        line-height: 1.6em;
        padding: 0 20px;
        transition: all .2s ease;
        width: 100%;
        display: inline-block;

        @media (max-width: $md2+px) {
            font-size: 20px;

        }

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba($mainColor, 0.2);
            }
        }
    }
}




