.head {

    &_border-bottom {
        border-bottom: 6px solid #454444;
    }

    &__body {
        position: relative;
        padding-top: 58px;
        padding-bottom: 42px;

        @media (max-width: $md4+px) {
            padding-top: 40px;
            padding-bottom: 25px;
        }
        
        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 23px;
            z-index: -1;
            width: 81px;
            height: 76px;
            background: url('../img/photo/head-decor.svg') center no-repeat;
            background-size: contain;

            @media (max-width: $md4+px) {
                width: 61px;
                height: 56px;
                left: 10px;
            }
        }
    }

    &__subtitle {
        font-family: $secondFontFamily;
        color: $mainColor;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 69px;
        margin-bottom: -3px;

        @media (max-width: $md3+px) {
            padding-left: 0;
        }
        @media (max-width: $md4+px) {
            font-size: 10px;
        }
    }

    &__title {
        max-width: 784px;
        margin-bottom: 0;
        padding-left: 69px;

        @media (max-width: $md3+px) {
            padding-left: 0;
        }
    }
}
